Source: iptables-converter
Maintainer: Johannes Hubertz <johannes@hubertz.de>
Section: utils
Priority: optional
Build-Depends: python3 (>= 3.4),
               python3-setuptools,
               python3-wheel,
               python3-sphinx,
               python3-sphinx-rtd-theme,
               python3-pytest,
               dh-python,
               debhelper (>= 9),
Uploaders: Toni Mueller <toni@debian.org>
Standards-Version: 4.1.2

Package: iptables-converter
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: convert iptables-commands from a file to iptables-save format
 iptables-converter: reads a file with iptables commands and converts
 these to an iptables-save readable format. To provide compatibility
 with iptables-save -c command zero packet and byte counters [0:0] are
 printed out. ip6tables-converter does the same for IPv6.

Package: iptables-converter-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: documentation for iptables-converter
 iptables-converter: convert iptables from file to iptables-save format
 ip6tables-converter: convert ip6tables from file to iptables-save format
 .
 This package contains the HTML-documentation for iptables-converter and
 ip6tables-converter.
